<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
  <style>
    table {width: 600px; text-align: center;}
    tr,td,th {outline:1px solid black}
    .add__row--color {background-color: yellow;}
    .sum,.none {outline: none;}
  </style>
</head>
<body>
  <!-- 1 table 태그를 이용해서 personList 표현-->
  <!-- 2 순번을 표시하고 짝수행은 노란색으로 표시하기-->
  <!-- 3 나이합 구하기-->
  <h3>회원목록</h3>
  <hr>
  <table>
    <thead>
      <tr>
        <th>번호</th>
        <th>이름</th>
        <th>나이</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="person, personStat : ${personList}" class="add__row--color" th:class="${personStat.even} ? add__row--color : '' ">
          <td th:text="${personStat.count}"></td>
          <td th:text="${person.name}"></td>
          <td th:text="${person.age}"></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>합계</td>
        <td colspan="2" class="sum" th:text="${#aggregates.sum(personList.![age])}"></td>
      </tr>
    </tfoot>
  </table>
</body>
</html>